appdirs==1.4.4
atomicwrites==1.4.0
jsonpointer==2.1
lxml==5.3.0
matplotlib==3.10.0
mkl-service
opencv-python==4.12.0.88
prettytable==3.16.0
pyasn1-modules==0.2.8
pyecharts==2.0.8
pygame==2.6.1
pyls-spyder==0.4.0
PyMySQL==1.1.2
PyQt5==5.15.10
PyQtWebEngine==5.15.6

setuptools==72.1.0
simplejson==3.20.1
webcolors==24.11.1
wheel==0.45.1
